@model HRMS.Models.HRMS_EMP_PHOTO_SIGN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee Photo Sign</h4>

    @if (ViewBag.Role == "admin")
    {
        @*@Html.ActionLink("Back to List", "Index")*@
        <div class="w3-right-align">
            @Html.ActionLink("<<Prev", "Index", "EmployeeAttachmentDetail", new { ID = Model.Emp_ID, name = "yes" }, new { @class = "btn btn-primary" })
        </div>
    }

    <hr />
    <div class="dl-horizontal">

        <div class="col-md-6">
            @{ if (Model.Emp_Photo_Path != null)
                {
                    <dd>

                        <img src="@Url.Content(Model.Emp_Photo_Path)" height="200" width="200">
                        @*@Html.DisplayFor(model => model.Emp_Photo_Path)*@
                    </dd>
                }
                else

                {
                    <dd>
                        //Image not found
                        <img src="~/Image/default_image.png" height="200" width="200">
                    </dd>
                }
            }
        </div>

        <div class="col-md-6">


            @{ if (Model.Emp_Sign_Path != null)
                {
                    <dd>
                        <img src="@Url.Content(Model.Emp_Sign_Path)" height="200" width="200">
                        @*@Html.DisplayFor(model => model.Emp_Sign_Path)*@
                    </dd>
                }
                else

                {
                    <dd>
                        //Image not found
                        <img src="~/Image/default_image.png" height="200" width="200">
                    </dd>
                }
            }

        </div>


    </div>
</div>
<p>
   @if (ViewBag.EditVisible == null)
   {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Emp_Photos_ID }) }

   
</p>
