@model HRMS.Models.HRMS_EMP_PHOTO_SIGN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HRMS_EMP_PHOTO_SIGN</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @*@Html.DisplayNameFor(model => model.Emp_Photo_Path)*@
        </dt>
        @{ if (Model.Emp_Photo_Path != null)
            {
                <dd>

                    <img src="@Url.Content(Model.Emp_Photo_Path)" height="200" width="200">
                    @*@Html.DisplayFor(model => model.Emp_Photo_Path)*@
                </dd>
            }
            else

            {
                <dd>
                    //Image not found
                    <img src="~/Image/default_image.png" height="200" width="200">
                </dd>
            }
        }

        <dt>
            @*@Html.DisplayNameFor(model => model.Emp_Sign_Path)*@
        </dt>

        @{ if (Model.Emp_Sign_Path != null)
            {
                <dd>
                    <img src="@Url.Content(Model.Emp_Sign_Path)" height="200" width="200">
                    @*@Html.DisplayFor(model => model.Emp_Sign_Path)*@
                </dd>
            }
            else

            {
                <dd>
                    //Image not found
                    <img src="~/Image/default_image.png" height="200" width="200">
                </dd>
            }
        }




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Emp_Photos_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
