@model IEnumerable<HRMS.Models.BankMaster>

@{
    ViewBag.Title = "BankIndex";
}

<h2>BankIndex</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped table-responsive">
    <tr style="background-color:lightgray">
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th><center><i class="glyphicon glyphicon-wrench" style="font-size:large"> </i> Operations</center></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                <center>
                    @Html.ActionLink(" Edit ", "EditBank", new { id = item.BankCode }, new { @class = "btn btn-warning glyphicon glyphicon-edit" })
                </center>
            </td>
        </tr>
    }

</table>
